nav{
    padding:15px;
    margin: bottom 30px;
    }
    nav a {color:#272343;
            padding: 15px;
             margin: bottom 30px;
             background-color:#bae8e8;
             border:1px solid #272343;
    }
    nav a:hover{color:#ffff;
      }
      @media only screen and (max-width: 900px) 
      { 
 
  nav a{ display:block; margin-bottom: 20px;}
     span {display: none;}
      }
    
body {background-color:#e3f6f5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #272343;

}
h1 {
    color: #272343;
    text-align: center; 
    border-radius: 1em;
    padding:15px; 
    margin: 10px;
    border-radius: 2em;
}

h1,h2, h3 {
    color: #272343;
    text-align: center; 
}
.banner {
    max-width: 100%;
    display:flex;
    justify-content:center;
}

.introfood   {
        color: #272343;
        background-color:#bae8e8;;
        border:3px solid #272343;
        padding:15px; 
        margin: 10px;
        border-radius: 2em;
    }

.bio {
    color: #272343;
    background-color:#bae8e8;;
    border:3px solid #272343;
    padding:15px; 
    margin: 10px;
    border-radius: 2em;

}
.self {
display: flex;
justify-content: right;
}

.dishes { max-width: 60%;}
.tomatoe {max-width: 60%;}
.women {max-width: 60%;}
.row { display:flex;
        justify-content:center;
        border-radius: 2em;}
        .cafe eiles {
            display:flex;
            justify-content: center;
        }


.quote {text-align:center;}

#skip {
    position: absolute; /*  relative to parent container  */
    left: -999px; /* move if off the page*/
  color: #272343;
    font-size: 100%;
    background-color:#bae8e8;
    padding: 15px;
}

#skip:focus {
    left:10px;
  color: #272343;}